.contactUs-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 80px;
  width: 100%;
}

.contactUs-form label {
  font-size: 17px;
}

.contactUs-form input {
  padding: 0;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(107, 112, 141, 0.1);
  font-size: 15px;
  width: 100%;
}

.message {
  height: 200px;
}

.message::placeholder {
  transform: translateY(-65px);
}

.submit-button {
  width: 100%;
  font-weight: 500;
  font-size: 17px;
}

@media screen and (min-width: 800px) {
  
  .row-form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
