/* Reset styles navegador */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #514d67;
  font-size: 20px;
  background-color: #f2f4fc;
}

.navbar {
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-top: 20px;
}

.nav-bar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-content: center;
  flex: 0.5;
  text-decoration: none;
  text-align: center;
  width: calc(100% - 60px);
}

a:link,
a:visited {
  color: #6b708d;
  text-decoration: none;
}

a:hover {
  color: #072ac8;
}

.contact-button,
.nav-bar-list li {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.contact-button {
  background-color: #072ac8;
  color: #ffffff;
  padding: 15px 33px;
  height: auto;
}

.contact-button a:link,
.contact-button a:visited {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 46.88px;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 28.13px;
}

input {
  font-family: "Roboto", sans-serif;
  color: #514d67;
  font-size: 15px;
  width: 300px;
  height: 60px;
  padding-left: 70px;
  background-color: #f4f6fc;
}

button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15px;
  width: 190px;
  height: 60px;
  text-align: center;
  background-color: #072ac8;
}

.lanzador-menu {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  margin-top: 5px;
}

.lanzador-menu:link,
.lanzador-menu:visited {
  color: #ffffff;
}

@media screen and (min-width: 801px) {
  .navbar,
  .nav-bar-list {
    flex-direction: row;
    width: auto;
  }

  .navbar {
    height: 122px;
  }

  .contact-button,
  .nav-bar-list li {
    width: auto;
    border-bottom: none;
  }

  .lanzador-menu {
    display: none;
  }
}

@media screen and (min-width: 1091px) {
  body {
    padding: 0 100px;
  }

  h1 {
    font-size: 45px;
    line-height: 50px;
  }

  h3 {
    font-size: 35px;
  }

  .navbar {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .js .nav-bar-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    position: absolute;
    background-color: #ffffff;
    margin-top: 200px;
  }

  .js .nav-bar-list a {
    padding: 5px 10px;
    color: #514d67;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  .js .nav-bar-list.menu-desplegado {
    max-height: 300px;
    margin-top: 200px;
  }

  .js .contact-button {
    width: 150px;
  }
}
